.iconPage-box{
  .iconPage-item-one{
    width: 100%;
    .icon-item{
      width: 100px;
      margin-top: 40px;
      p{
        margin-top: 10px;
        font-size:12px;
        color:#333;
      }
    }
  }
}